# Case Study 1 - Hypothesis Testing
Use Chi Square Test to investigate whether there is a relationship between gender and 
smoking status in a population. (Take the significance level to be 0.05).

• Null hypothesis (H0): There is no association between gender and smoking status

• Alternative hypothesis (Ha): There is an association between gender and smoking status.

Dataset: tips.csv

### Importing Libraries

In [2]:
import pandas as pd
from scipy.stats import chi2_contingency

### Load the tips dataset

In [3]:
tips = pd.read_csv('tips.csv')

In [5]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [7]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

### Create a contingency table of gender and smoking status

In [10]:
table = pd.crosstab(tips['sex'], tips['smoker'])

In [11]:
table

smoker  No  Yes
sex
Female  54   33
Male    97   60

### Perform Chi Square Test

In [12]:
stat, p, dof, expected = chi2_contingency(table)
print('Chi Square Statistic: ', stat)
print('p-value: ', p)

Chi Square Statistic:  0.0
p-value:  1.0